<div class="wk-page-content index-plain-page">
    <h1 class="pb20" translate="{{vm.pageTitle}}"></h1>
    <form id="itemForm" name="itemForm">
        <div class="wk-row-persist" ng-enter="vm.itemCollectionTablePipe(vm.table.tableStateScopeCopy, true)">
            <div class="wk-col-3">
                <div class="wk-field-header">
                    <label>{{ 'TOOLTIPS.NAME' | translate }}</label>
                </div>
                <input uib-tooltip="{{ 'TOOLTIPS.NAME' | translate }}" ng-model="vm.searchFilter.bankName" type="text" translate="LABELS.NAME">
            </div>
            <div class="wk-col-3">
                <div class="wk-field-header">
                    <label>{{ 'TOOLTIPS.DESCRIPTION' | translate }}</label>
                </div>
                <input uib-tooltip="{{ 'TOOLTIPS.DESCRIPTION' | translate }}" ng-model="vm.searchFilter.description" type="text" translate="LABELS.DESCRIPTION">
            </div>
            <div class="wk-col-3">
                <div class="wk-field-header">
                    <label translate="LABELS.STATUS"></label>
                </div>
                <div class="wk-radio-field">
                    <label>
                        <input ng-model="vm.searchFilter.status" type="radio" value="Published" name="itemStatus"><span> </span><span>{{'LABELS.PUBLISHED'| translate}}</span>
                    </label>
                </div>
                <div class="wk-radio-field">
                    <label>
                        <input ng-model="vm.searchFilter.status" type="radio" value="Imported" name="itemStatus"><span> </span><span>{{'LABELS.IMPORTED'| translate}}</span>
                    </label>
                </div>
            </div>
            <!--             <div class="wk-col-2">
                            <div class="wk-field-header">
                                <label translate="LABELS.INACTIVE"></label>
                            </div>
                            <div class="wk-radio-field">
                                <label>
                                    <input ng-model="vm.searchFilter.active" type="radio" value="2" name="itemActiveStatus"><span> </span><span>{{'YES' | translate}}</span>
                                </label>
                            </div>
                            <div class="wk-radio-field">
                                <label>
                                    <input ng-model="vm.searchFilter.active" type="radio" value="1" name="itemActiveStatus"><span> </span><span>{{'NO' | translate}}</span>
                                </label>
                            </div>
                        </div>-->
            <div class="wk-col-3">
                <div class="wk-field-header">
                    <label>&nbsp;</label>
                </div>
                <a ng-click="vm.itemCollectionTablePipe(vm.table.tableStateScopeCopy, true)" role="button" class="wk-button" translate="GO"></a>
                <a ng-click="vm.itemCollectionTablePipe(vm.table.tableStateScopeCopy, true, true)" role="button" class="wk-button" translate="CLEAR"></a>
            </div>
        </div>
        <!-- Accordion start -->
        <div class="panel-group" id="metadataAccordion">
            <uib-accordion>
                <div uib-accordion-group ng-init="vm.metadataAccordianOpen = false;" is-open="vm.metadataAccordianOpen" class="panel panel-default">
                    <uib-accordion-heading>
                        {{ 'LABELS.METADATA_FILTER' | translate }}
                        <span ng-if="!(vm.searchFilter.metadataAssoc | isEmptyObject)" class="wk-icon-checkmark"></span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':accordion.groups[0].isOpen, 'glyphicon-chevron-right': !accordion.groups[0].isOpen}"></i>
                    </uib-accordion-heading>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <metadata-filter metadata-assoc="vm.searchFilter.metadataAssoc" selected-meta-details="vm.searchFilter.selectedMetaDetails" filter-type="list" form="itemForm"></metadata-filter>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </form>
    <!-- Accordion end -->
    <hr class="hr-color">
    <div class="wk-row gray-bg mb20">
        <div class="wk-col-8 wk-pagination-bar mb0">
            <div class="wk-pagination-results">
                <div class="wk-field-item">
                    <div class="wk-field-header custom-field-header">
                        <label>{{'RESULTS_PER_PAGE'| translate}} : </label>
                    </div>
                    <div class="wk-select-field custom-select-field">
                        <select class="input-sm form-control" ng-model="vm.table.dataPerPage" ng-options="dataCount for dataCount in vm.table.dataPerPageOptions">
                        </select>
                    </div>
                </div>
            </div>
            <div class="wk-pagination-results pl20">
                <div class="wk-field-item">
                    <div class="wk-field-header custom-field-header">
                        <label>{{'TOTAL_RECORDS'| translate}} : <span class="wk-badge">{{vm.table.totalRecords}}</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="wk-col-4 wk-button-group-right text-right">
            <a href="/itembank/create" role="button" class="wk-button wk-button-primary">{{'CREATE'| translate}} </a>
            <a role="button" ng-href="{{vm.permission.create?'/itembank/upload':''}}" ng-class="{'custom-icon-disabled':!vm.permission.create}" class="wk-button wk-button-primary">{{ 'LABELS.IMPORT' | translate }}</a>
        </div>
    </div>
    <div class="wk-layout-25-25-25-25">
        <div class="wk-table-permit-overflow">
            <table st-persist="metadataTableState" class="wk-table" st-pipe="vm.itemCollectionTablePipe" st-table="vm.itemDetails">
                <thead>
                    <tr>
                        <th width="20%" class="st-sort-default" st-sort="bankName" st-skip-natural="true" translate="TOOLTIPS.NAME"></th>
                        <th width="20%" class="st-sort-default" st-sort="description" st-skip-natural="true" translate="TOOLTIPS.DESCRIPTION"></th>
                        <th width="20%" class="st-sort-default" st-sort="itemCount" st-skip-natural="true" translate="LABELS.NO_OF_QUESTIONS"></th>
                        <th width="10%" class="st-sort-default" st-sort="statusName" st-skip-natural="true" translate="LABELS.STATUS"></th>
                        <th width="10%" class="st-sort-default" st-skip-natural="true" translate="LABELS.METADATA_TAGS"></th>
                        <th width="35%" translate="ACTION"></th>
                    </tr>
                </thead>
                <tbody ng-show="!vm.showLoader">
                    <tr ng-repeat="items in vm.itemCollectionDetails">
                        <td>{{items.bankName}}</td>
                        <td>{{items.description}}</td>
                        <td>{{items.itemCount}}</td>
                        <td>{{items.statusName}}</td>
                        <td>{{items.metadataName}}</td>
                        <td>
                            <a ng-href="{{vm.permission.view?'itembank/view/'+items.itemBankId:''}}" ng-class="{'custom-icon-disabled':!vm.permission.view}" class="icon-size">
                                <span class="wk-icon-list-outline" title="{{ 'VIEW'| translate }}"></span>
                            </a>
                            <a ng-href="{{vm.permission.edit?'itembank/edit/'+items.itemBankId:''}}" ng-class="{'custom-icon-disabled':!vm.permission.edit}" class="icon-size">
                                <span class="wk-icon-compose-outline" title="{{ 'EDIT'| translate }}"></span>
                            </a>
                            <a ng-href="{{vm.permission.delete?'itembank/delete/'+items.itemBankId:''}}" ng-class="{'custom-icon-disabled':!vm.permission.delete}" class="icon-size ">
                                <span class="wk-icon-close-outline " title="{{ 'DELETE'| translate }} "></span>
                            </a>
                            <a  ng-href="{{(vm.permission.manageSecurity && items.statusName != 'Published')?'itembank/publish/'+items.itemBankId:''}}" ng-class="{'custom-icon-disabled':!vm.permission.manageSecurity || items.statusName == 'Published'}" class="icon-size-preview">
                                <span class="wk-icon-copy-outline " title="{{ 'PUBLISH'| translate }} "></span>
                            </a>

                            <a  ng-href="{{vm.permission.manageSecurity?'itembank/status/'+items.itemBankId:''}}"  ng-class="{'custom-icon-disabled':!vm.permission.manageSecurity}" class="icon-size">
                                <span class="wk-icon-paper-outline " title="{{ 'LABELS.STATUS'| translate }} "></span>

                            </a>
                            <!--                            <a ng-href="#" ng-class="{'custom-icon-disabled':!vm.permission.manageSecurity || items.status == 'Published'}" class="icon-size">
                                <span class="wk-icon-edit" title="{{ 'REVIEW'| translate }} "></span>
                            </a>
                            <a ng-href="#" ng-class="{'custom-icon-disabled':!vm.permission.manageSecurity}" class="icon-size-export">
                                <span class="wk-icon-log-in" title="{{ 'EXPORT'| translate }} "></span>
                            </a>-->
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="vm.showLoader">
                    <tr>
                        <td width="100% " class="text-center " colspan="6 ">
                            <span class="wk-icon-spin wk-spin "></span>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="(vm.table.totalRecords < 1 && !vm.showLoader)">
                    <tr>
                        <td width="100% " valign="middle" class="text-center " colspan="6" translate="NO_RECORDS">
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-show="!vm.showLoader">
                    <tr>
                        <td class="text-right pr1rem " st-items-by-page="vm.table.dataPerPage " st-template="app/common/sttable/pagination.html " st-pagination colspan="6 ">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
