<div class="wk-page-content index-plain-page"  ng-show="!vm.showPreview">
    <!-- Aler msg starts-->
    <div ng-if="vm.alertConfig.show" ng-class="vm.alertConfig.class" class="wk-alert-dismissible">{{ vm.alertConfig.details | translate }}
        <button type="button" ng-click="vm.alertConfig.show = false" class="wk-icon-close-empty"></button>
    </div>
    <h1 class="pb20" translate="{{vm.pageTitle}}"></h1>
    <!-- Aler msg ends-->
    <!-- Page loader spin starts-->
    <span class="wk-icon-spin wk-spin wk-spin-center" ng-show="vm.showLoader"></span>
    <!-- Page loader spin ends-->
    <!-- Data not found error starts-->
    <div ng-if="(!vm.showLoader && vm.pageError)" class="wk-layout-centered-medium wk-register-bg mt50">
        <div class="wk-row text-center">
            <h1 class="data-not-available"><span class="wk-icon-alert-triangle"></span>{{ 'ERRORS.DATA_NOT_AVAILABLE' | translate }}</h1>
            <h3 class="data-not-available"><a ui-sref="itembanks.list" role="button"><span class="wk-icon-arrow-back"></span>{{ 'BACK' | translate }}</a></h3>
        </div>
    </div>
    <!-- Data not found error ends-->
    <div ng-show="(!vm.showLoader && !vm.pageError && !vm.otherInfo)">
        <div class="wk-row mb20">
            <form class="wk-layout-centered-small wk-register-bg">
                <div class="wk-field-item">
                    <div class="wk-field-header">
                        <label>{{ 'TOOLTIPS.NAME' | translate }}</label>
                    </div>
                    <span>{{ vm.itemCollection.itemBankName}}</span>
                    <div class="wk-field-error"></div>
                </div>
                <div class="wk-field-item mb20">
                    <div class="wk-field-header">
                        <label>{{ 'TOOLTIPS.DESCRIPTION' | translate }}</label>
                    </div>
                    <span>{{ vm.itemCollection.description}}</span>
                    <div class="wk-field-error"></div>
                </div>
                <div class="wk-layout-50-50">
                    <div class="wk-layout-item">
                        <div class="wk-field-item">
                            <div class="wk-field-header">
                                <label>{{'LABELS.CREATEDBY'| translate}}</label>
                            </div>
                            <span>{{vm.itemCollection.firstName}} {{vm.itemCollection.lastName}}</span>
                            <div class="wk-field-error"></div>
                        </div>
                    </div>
                    <div class="wk-layout-item">
                        <div class="wk-field-item">
                            <div class="wk-field-header">
                                <label>{{'LABELS.STATUS'| translate}}</label>
                            </div>
                            <span>{{vm.itemCollection.statusName}}</span>

                            <div class="wk-field-error"></div>
                        </div>
                    </div>
                </div>
            </form>  
        </div>
        <uib-accordion close-others="vm.closeOtherAccordions">
            <!-- question accordion start -->
            <div uib-accordion-group class="panel panel-default question-title-bg" is-open="accordion.groups[0].isOpen">
                <uib-accordion-heading>
                    {{ 'LABELS.ASSOCIATE_QUESTION' | translate }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':accordion.groups[0].isOpen, 'glyphicon-chevron-right': !accordion.groups[0].isOpen}"></i>
                </uib-accordion-heading>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <ng-form id="itemForm" role="form"  name="forms.itemForm">
                        <div class="wk-row-persist mb20" ng-enter="vm.itemTablePipe(vm.table.tableStateScopeCopy, true)">
                            <div class="wk-col-6">
                                <div class="wk-field-header">
                                    <label>{{ 'LABELS.ITEM_TITLE' | translate }}</label>
                                </div>
                                <input uib-tooltip="{{ 'TOOLTIPS.ITEM_TITLE' | translate }}" ng-model="vm.searchFilter.label" type="text" translate="LABELS.ITEM_TITLE">
                            </div>

                            <div class="wk-col-6">
                                <div class="wk-field-header">
                                    <label>&nbsp;</label>
                                </div>
                                <a ng-click="vm.itemTablePipe(vm.table.tableStateScopeCopy, true)" role="button" class="wk-button" translate="GO"></a>
                                <a ng-click="vm.itemTablePipe(vm.table.tableStateScopeCopy, true, true)" role="button" class="wk-button" translate="CLEAR"></a>
                            </div>
                        </div>
                        <!-- Accordion start -->
                        <div class="panel-group" id="metadataAccordion">
                            <uib-accordion>
                                <div uib-accordion-group ng-init="vm.metadataAccordianOpen = false;" is-open="vm.metadataAccordianOpen" class="panel panel-default">
                                    <uib-accordion-heading>
                                        {{ 'LABELS.METADATA_FILTER' | translate }}
                                        <span ng-if="!(vm.searchFilter.metadataAssoc | isEmptyObject)" class="wk-icon-checkmark"></span>
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':accordion.groups[0].isOpen, 'glyphicon-chevron-right': !accordion.groups[0].isOpen}"></i>
                                    </uib-accordion-heading>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <metadata-filter metadata-assoc="vm.searchFilter.metadataAssoc" selected-meta-details="vm.searchFilter.selectedMetaDetails" filter-type="list" form="forms.itemForm"></metadata-filter>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </ng-form>
                    <!-- Accordion end -->
                    <hr class="hr-color">
                    <div class="wk-row gray-bg mb20">
                        <div class="wk-col-12 wk-pagination-bar mb0">
                            <div class="wk-pagination-results">
                                <div class="wk-field-item">
                                    <div class="wk-field-header custom-field-header">
                                        <label>{{'RESULTS_PER_PAGE'| translate}} : </label>
                                    </div>
                                    <div class="wk-select-field custom-select-field">
                                        <select class="input-sm form-control" ng-model="vm.table.dataPerPage" ng-options="dataCount for dataCount in vm.table.dataPerPageOptions">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="wk-pagination-results pl20">
                                <div class="wk-field-item">
                                    <div class="wk-field-header custom-field-header">
                                        <label>{{'TOTAL_RECORDS'| translate}} : <span class="wk-badge">{{vm.table.totalRecords}}</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="wk-layout-25-25-25-25">
                        <div class="wk-table-permit-overflow">
                            <table st-persist="metadataTableState" class="wk-table" st-pipe="vm.itemTablePipe" st-table="vm.itemDetails">
                                <thead>
                                    <tr>


                                        <th width="50%" class="st-sort-default" st-sort="label" st-skip-natural="true" translate="LABELS.ITEM_TITLE"></th>
                                        <th width="20%" class="st-sort-default" st-sort="status" st-skip-natural="true" translate="LABELS.STATUS"></th>

                                        <th width="10%" translate="ACTION"></th>
                                    </tr>
                                </thead>
                                <tbody ng-show="!vm.showLoader">
                                    <tr ng-repeat="items in vm.itemDetails">

                                        <td>

                                            <input ng-if="vm.actionType == 'publish'" ng-checked="{{items.status == 'Published'}}" ng-disabled="{{items.status == 'Published'}}" type="checkbox" ng-model="vm.itemCollectionPublish.itemId[items.id]" name="" value=""/>
                                            <input ng-if="vm.actionType == 'view'" ng-disabled="{{items.status != 'Imported'}}" type="checkbox" ng-model="vm.itemCollectionPublish.itemId[items.id]" name="" value=""/>
                                            {{items.label}}
                                        </td>

                                        <td> {{items.status}}</td>
                                        <td>


                                            <a ng-click = "vm.showPreview = true;
                                                                        vm.questionSelectedPreview = items.id;" class="icon-size-preview">
                                                <i class="fa fa-eye" title="{{ 'PREVIEW'| translate }} " aria-hidden="true"></i>
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-show="vm.showLoader">
                                    <tr>
                                        <td width="100% " class="text-center " colspan="6 ">
                                            <span class="wk-icon-spin wk-spin "></span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-show="(vm.table.totalRecords < 1 && !vm.showLoader)">
                                    <tr>
                                        <td width="100% " valign="middle" class="text-center " colspan="6" translate="NO_RECORDS">
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-show="!vm.showLoader">
                                    <tr>
                                        <td class="text-right pr1rem " st-items-by-page="vm.table.dataPerPage " st-template="app/common/sttable/pagination.html " st-pagination colspan="6 ">
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <span class="wk-field-error " translate="{{vm.errorMsg}}"></span>
                    </div>
                </div>
            </div>
            <!-- Question accordion end -->
            <!-- Metadata accordion starts -->

            <div ng-if="vm.actionType != 'publish'" uib-accordion-group class="panel panel-default metadata-title-bg" is-open="accordion.groups[2].isOpen">
                <uib-accordion-heading>
                    {{ 'LABELS.METADATA_ATTR' | translate }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion.groups[2].isOpen, 'glyphicon-chevron-right': !accordion.groups[2].isOpen}"></i>
                </uib-accordion-heading>
                <div id="collapseThree">
                    <div class="panel-body">
                        <div class="wk-table-permit-overflow">
                            <table class="wk-table">
                                <thead>
                                    <tr>
                                        <th translate="LABELS.TAG_NAME"></th>
                                        <th translate="LABELS.TAG_VALUE"></th>
                                    </tr>
                                </thead>
                                <tbody ng-show="vm.itemCollection.selectedMetaDetails.length > 0">
                                    <tr ng-repeat="(mIndex,metaList) in vm.itemCollection.selectedMetaDetails">
                                        <td>
                                            <label>{{metaList.tagName}}</label>
                                        </td>
                                        <td ng-if="metaList.tagTypeId == 1">
                                            <label>{{vm.itemCollection.metadataAssoc[metaList.id]}}</label>
                                        </td>
                                        <td ng-if="metaList.tagTypeId == 2">
                                            <div ng-repeat="values in metaList.metadataValues">
                                                <label ng-if="vm.itemCollection.metadataAssoc[metaList.id].indexOf(values.id.toString()) != -1">{{values.value}}</label>
                                            </div>
                                        </td>
                                        <td ng-if="metaList.tagTypeId == 3">
                                            <!--                                            <label>{{vm.itemCollection.metadataAssoc[metaList.id].value}}</label>-->
                                            <div ng-repeat="values in vm.itemCollection.metadataAssoc[metaList.id]">
                                                <label >{{values.value}}</label>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-show="vm.itemCollection.selectedMetaDetails.length == 0">
                                    <tr>
                                        <td width="100% " valign="middle" class="text-center " colspan="6" translate="NO_RECORDS">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Metadata accordion ends -->
        </uib-accordion>

        <div class="wk-row">
            <div class="wk-layout-50-50 gray-bg mb20">
                <div class="wk-button-bar">
                    <div class="wk-button-group-right">
                        <button type="button" ui-sref="itembanks.list" class="wk-button wk-button-danger" translate="CANCEL"></button>
                        <button type="button" ng-click="vm.deleteItemCollection()" translate="DELETE" class="wk-button wk-button-primary" ng-disabled="vm.isSubmitDisabled" ng-if="vm.actionType == 'delete'"></button>  
                        <button ng-click="vm.publishItemCollection('selected', 'Published')" ng-disabled="vm.isSubmitDisabled || vm.table.totalRecords == 0" type="button" translate="PUBLISH_SELECTED" class="wk-button wk-button-primary" ng-if="vm.actionType == 'publish'"></button>
                        

                        <button ng-click="vm.publishItemCollection('all', 'Published')" ng-disabled="vm.isSubmitDisabled || vm.table.totalRecords == 0" type="button" translate="PUBLISH_ALL" class="wk-button wk-button-primary" ng-if="vm.actionType == 'publish'"></button>
                        
                        <button ng-click="vm.publishItemCollection('selected', 'Authoring')" ng-disabled="vm.itemCollection.statusName == 'Published' || vm.isSubmitDisabled || vm.table.totalRecords == 0" type="button" translate="AUTHORING_SELECTED" class="wk-button wk-button-primary" ng-if="vm.actionType == 'view'"></button>
                        <button ng-click="vm.publishItemCollection('all', 'Authoring')" ng-disabled="vm.itemCollection.statusName == 'Published' || vm.isSubmitDisabled || vm.table.totalRecords == 0" type="button" translate="AUTHORING_ALL" class="wk-button wk-button-primary" ng-if="vm.actionType == 'view'"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div ng-if="vm.showPreview">
    <item-preview item-id="vm.questionSelectedPreview" item-details="">
        <button type="button" ng-click="vm.showPreview = false" class="wk-button" translate="BACK"></button>
    </item-preview>
</div>