<div class="wk-page-content index-plain-page">
     <h1 class="pb20">Multiple Choice - Preview</h1>

	<div class="wk-layout-centered-large mb20">
              <div class="wk-layout-item">
                <div class="wk-field-item normal-font mb0">
                  <div class="wk-field-header"><h4 class="wk-module-heading mb20 normal-font">NCLEX<sup>&reg;</sup> is the term for the proportion pumped out of the left ventricle with each beat?</h4></div>
                  <div class="wk-radio-field">
                    <label for="radio1">
                      <input name="availability" id="radio1" checked="" type="radio"><span> </span><span>Cardiac</span>
                    </label>
                  </div>
                  <div class="wk-radio-field">
                    <label for="radio2">
                      <input name="availability" id="radio2" type="radio"><span> </span><span>Stroke volume</span>
                    </label>
                  </div>
                  <div class="wk-radio-field">
                    <label for="radio3">
                      <input name="availability" id="radio3" type="radio"><span> </span><span>Cardiac PaCO<sub>2</sub></span>
                    </label>
                  </div>
                  <div class="wk-radio-field">
                    <label for="radio4">
                      <input name="availability" id="radio4" type="radio"><span> </span><span>End-diastolic volume 274,000/mm<sup>3</sup></span>
                    </label>
                  </div>
                  <div class="wk-field-error"></div>
                </div>
              </div>
         
            </div>
			
			
</div>