<div class="wk-page-content index-plain-page">
     <h1 class="pb20">Video Questions - Preview</h1>

	<div class="wk-layout-centered-large mb20">
	          <div class="wk-layout-50-50 mb20">
				  <div class="wk-layout-item">
					<div class="wk-field-item normal-font mb0">
					  <div class="wk-field-header"><h4 class="wk-module-heading mb20 normal-font">The handle on the cable should be pulled to a position</h4></div>
					  <div class="wk-radio-field">
						<label for="radio1">
						  <input name="availability" checked="checked" type="radio"><span> </span><span>Near the umbilicus</span>
						</label>
					  </div>
					  <div class="wk-radio-field">
						<label for="radio2">
						  <input name="availability" type="radio"><span> </span><span>Near the sternum</span>
						</label>
					  </div>
					  <div class="wk-radio-field">
						<label for="radio2">
						  <input name="availability" type="radio"><span> </span><span>Near the face</span>
						</label>
					  </div>
					  <div class="wk-radio-field">
						<label for="radio2">
						  <input name="availability" type="radio"><span> </span><span>Near the shoulders</span>
						</label>
					  </div>
					 
					  <div class="wk-field-error"></div>
					</div>
				  </div>
				  <div class="wk-layout-item">
				       <img src="app/lib/wk-css/dist/assets/images/video.jpg" class="img-responsive" alt="video" title="video" />
				  </div>
			  </div>
			  
		  
            </div>
</div>