<div class="wk-page-content index-plain-page">
     <h1 class="pb20">Image Integration - Preview</h1>

	<div class="wk-layout-centered-large mb20">
			<div class="wk-layout-50-50 mb20">
				  <div class="wk-layout-item">
					<div class="wk-field-item normal-font mb0">
					  <div class="wk-field-header"><h4 class="wk-module-heading mb20 normal-font">A client is admitted to the emergency department with complains of nausea, vomiting, and severe diarrhea. The laboratory
	</h4></div>
					  <div class="wk-radio-field">
						<label for="radio1">
						  <input name="availability" checked="checked" type="radio"><span> </span><span>Metabolic alkalosis</span>
						</label>
					  </div>
					  <div class="wk-radio-field">
						<label for="radio2">
						  <input name="availability" type="radio"><span> </span><span>Metabolic acidosis</span>
						</label>
					  </div>
					  <div class="wk-radio-field">
						<label for="radio2">
						  <input name="availability" type="radio"><span> </span><span>Respiratory alkalosis</span>
						</label>
					  </div>
					  <div class="wk-radio-field">
						<label for="radio2">
						  <input name="availability" type="radio"><span> </span><span>Respiratory acidosis</span>
						</label>
					  </div>
					 
					  <div class="wk-field-error"></div>
					</div>
				  </div>
				  <div class="wk-layout-item">
				       <img src="app/lib/wk-css/dist/assets/images/image-integration.jpg" class="img-responsive" alt="image" title="image" />
				  </div>
				  
			  </div>
			
            </div>
</div>