<div class="wk-page-content index-plain-page">
     <h1 class="pb20">Choice Multiple - Preview</h1>

	<div class="wk-layout-centered-large mb20">
              <div class="wk-layout-item">
                <div class="wk-field-item normal-font mb0">
                  <div class="wk-field-header"><h4 class="wk-module-heading mb20 normal-font">What is the main way that oxygen is transported in the blood?</h4></div>
                  <div class="wk-radio-field">
                    <label for="radio1">
                      <input name="availability" checked="checked" type="checkbox"><span> </span><span>Bound to hemoglobin</span>
                    </label>
                  </div>
                  <div class="wk-radio-field">
                    <label for="radio2">
                      <input name="availability" checked="checked" type="checkbox"><span> </span><span>In the form of bicarbonate ion</span>
                    </label>
                  </div>
                  <div class="wk-radio-field">
                    <label for="radio3">
                      <input name="availability" type="checkbox"><span> </span><span>Dissolved in plasma</span>
                    </label>
                  </div>
                  <div class="wk-radio-field">
                    <label for="radio4">
                      <input name="availability" type="checkbox"><span> </span><span>None of the options are correct</span>
                    </label>
                  </div>
                  <div class="wk-field-error"></div>
                </div>
              </div>
	
            </div>
</div>
