<div class="wk-page-content">
    <h1 class="pb20">Clinical Symptoms - Preview</h1>
    <div>
        <div class="wk-row mb20">
            <div class="wk-row mb20">
                <div class="wk-layout-item wk-card ">
                    <div class="wk-field-item normal-font mb0 ">
                        <div>
                            <div class="wk-radio-field">
                                <label>
                                    <input name="correctAnswerPreview " type="radio">
                                    <span> </span><span>test symptoms</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="wk-radio-field">
                                <label>
                                    <input name="correctAnswerPreview " type="radio">
                                    <span> </span><span>test symptoms</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="wk-radio-field">
                                <label>
                                    <input name="correctAnswerPreview " type="radio">
                                    <span> </span><span>test symptoms</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="wk-field-item">
                        <div class="wk-field-header custom-field-header">
                            <h4 class="wk-module-heading mb20 normal-font ">
                <span class="wk-badge">1</span>
test symptoms</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wk-row mb20">
                <div class="wk-col-4 video-preview">
                    <img src="app/lib/wk-css/dist/assets/images/video.jpg" class="img-responsive" alt="video" title="video" />
                </div>
                <div class="wk-col-8">
                    <div class="wk-field-header ">
                        <label>
                            Clinical Presenting Symptoms</label>
                    </div>
                    <div class="wk-layout-item wk-card ">
                        <div class="wk-field-item normal-font mb0 ">
                            <div class="wk-field-header ">
                                <h4 class="wk-module-heading mb20 normal-font ">test symptoms</h4></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wk-layout-item mb20 mt20 ">
                <div class="wk-field-item ">
                    <p><strong>Correct Response:</strong>test symptoms </p>
                    <p><strong>Correct Rationale: </strong>test symptoms</p>
                    <p><strong>Remediation: </strong></p>
                    <div>
                        <a target="_blank" uib-tooltip="" href="https://www.google.co.in">test symptoms</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
