<div class="wk-page-content">
    <h1 class="pb20">Graphic Option - Preview</h1>
    <div>
        <div class="wk-row mb20 ">
            <div id="divarea1" class="box">
                <div class="wk-row b20">
                    <h4 class="wk-module-heading mb20 normal-font">      Nostrud labore laborum nisi nostrud nulla commodo excepteur??
                          </h4>
                </div>
                <div class="wk-table-permit-overflow">
                    <table class="wk-table question-type-video">
                        <tbody>
                            <tr>
                                <td width="10%" align="center" valign="middle">
                                    <div class="wk-radio-field">
                                        <input name="correctAnswerPreview " type="radio">
                                    </div>
                                </td>
                                <td width="90%">
                                    <div>
                                        <img width="200px" src="app/images/video.jpg" class="img-responsive" alt="video" title="video"> </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" align="center" valign="middle">
                                    <div class="wk-radio-field">
                                        <input name="correctAnswerPreview " type="radio">
                                    </div>
                                </td>
                                <td width="90%">
                                    <div>
                                        <img width="100%" src="app/images/graphic-audio.png" class="img-responsive" alt="video" title="video">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" align="center" valign="middle">
                                    <div class="wk-radio-field">
                                        <input name="correctAnswerPreview " type="radio">
                                    </div>
                                </td>
                                <td width="90%">
                                    <div>
                                        <img width="200px" src="app/images/image.jpg" class="img-responsive" alt="video" title="video">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
