
     <h1 class="pb20">True / False - Preview</h1>

	<div class="wk-layout-centered-large mb20">
              <div class="wk-layout-item">
                <div class="wk-field-item normal-font mb0">
                  <div class="wk-field-header"><h4 class="wk-module-heading mb20 normal-font">The lactate threshold represents the point where blood lactate begins to increase in a nonlinear fashion at a specific exercise intensity.</h4></div>
                  <div class="wk-radio-field">
                    <label for="radio1">
                      <input name="availability" checked="checked" type="radio"><span> </span><span>True</span>
                    </label>
                  </div>
                  <div class="wk-radio-field">
                    <label for="radio2">
                      <input name="availability" type="radio"><span> </span><span>False</span>
                    </label>
                  </div>
                 
                  <div class="wk-field-error"></div>
                </div>
              </div>
			
            </div>
			
			
