<div class="wk-login-screen">
    <div class="wk-login-layout">      
        <form focus-first-invalid name="userForm" role="form" ng-submit="vm.forgotPassword()" class="wk-login-form"  novalidate ng-show="vm.sendSuccess == 0">
            <h2 class="pb20"><span class="wk-icon-help-outline admin-login-icon" title=".wk-icon-help-outline"></span> Forgot Password</h2>
            <p>{{'LABELS.FORGOT_PAGE_MSG'| translate}}</p>
            <div class="wk-field-item">
                <div class="wk-field-header">
                    <label>{{'LABELS.EMAIL_ADDRESS'| translate}}</label>
                </div>
                <input ng-minlength="3" ng-maxlength="50" ng-model="vm.user.emailAddress"  name="userEmail"   type="text" uib-tooltip="{{ 'LABELS.EMAIL_ADDRESS' | translate }}" required ng-pattern='/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i'>

                <div ng-messages="userForm.userEmail.$error" ng-if="userForm.userEmail.$touched || submitted" class="wk-field-error" role="alert" >
                    <div ng-message="required">{{ 'ERRORS.REQUIRED_ERROR' | translate }}</div>
                    <div ng-show="userForm.userEmail.$error.pattern">{{ 'ERRORS.USER_NAME_VAL_MSG' | translate }}</div>
                    <div ng-message="invalidusererror">{{ 'ERRORS.INVALID_USER' | translate }}</div>
                    <!--                        <div ng-show="userForm.userEmail.$error.email">{{ 'USER_NAME_VAL_MSG' | translate }}</div>-->

                </div>
            </div>            <div class="wk-field-item">
                <div class="wk-radio-field">
                    <label>
                        <input type="radio" required  name="passwordOption" ng-model="vm.user.action" value="resetpassword"/>{{'LABELS.RESET_PASSWORD'| translate}}
                    <!--</label>-->
                </div>
                <div class="wk-radio-field">
                    <label>
                        <input type="radio" required  name="passwordOption" ng-model="vm.user.action" value="sendusername"/>{{'LABELS.SEND_USERNAME'| translate}}
                    </label>
                </div> 
                <div ng-messages="userForm.passwordOption.$error" ng-if='userForm.passwordOption.$touched || submitted' class="wk-field-error" role="alert">
                    <div ng-message="required">{{ 'ERRORS.REQUIRED' | translate }}</div>

                </div>

            </div>
            <div class="wk-button-bar">
                <div class="wk-button-group-right">
                    <button type="button" ui-sref="login" role="button" class="wk-button wk-button-danger">{{ 'CANCEL' | translate }}</button>
                    <button class="wk-button wk-button-primary" type="submit" ng-click="submitted = true;" >
                        {{ 'SEND' | translate }}
                    </button>
                </div>
            </div>
        </form>
    <form class="wk-login-form" ng-show="vm.sendSuccess == 1">
      <h2 class="pb20"><span class="wk-icon-help-outline admin-login-icon" title=".wk-icon-help-outline"></span> Forgot Password</h2>
      <p>{{ vm.forgotSuccessMsg | translate }} Please <a ui-sref="login" role="button">click here</a> to login</p>
    </form>
    </div>
</div>  