<div class="wk-login-screen">
    <div class="wk-login-layout">

        <form focus-first-invalid name="userForm" role="form" ng-submit="vm.resetPassword()" class="wk-login-form" novalidate ng-show="vm.sendSuccess == 0">
            <div class="wk-login-form-container">
                <h2 class="pb20"><span class="wk-icon-log-in admin-login-icon" title=".wk-icon-log-in"></span>{{ 'LABELS.RESET_PASSWORD' | translate }}</h2>
                <div class="wk-login-fields">
                    <div class="wk-field-item">
                        <div class="wk-field-header">
                            <label> {{ 'LABELS.NEW_PASSWORD' | translate }}</label>
                        </div>
                        <input ng-minlength="8" ng-maxlength="50" ng-model="vm.user.password"  name="password"   type="password" uib-tooltip="{{ 'LABELS.NEW_PASSWORD' | translate }}" required ng-pattern='/^(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/'>
                        <div ng-messages="userForm.password.$error" ng-if="userForm.password.$touched || submitted" class="wk-field-error" role="alert" >
                            <div ng-message="minlength">{{ 'ERRORS.PASSWORD_VAL_MSG' | translate }}</div>
                            <div ng-message="maxlength">{{ 'ERRORS.PASSWORD_VAL_MSG' | translate }}</div>
                            <div ng-message="required" >{{ 'ERRORS.REQUIRED_ERROR' | translate }}</div>
                            <div ng-message="pattern">{{ 'ERRORS.PASSWORD_VAL_MSG' | translate }}</div>

                        </div>
                    </div>
                    <div class="wk-field-item">
                        <div class="wk-field-header">
                            <label> {{ 'LABELS.CONFIRMPASSWORD' | translate }}</label>
                        </div>
                        <input ng-minlength="8" ng-maxlength="50" ng-model="vm.user.confirmPassword" name="confirmPassword"   type="password" uib-tooltip="{{ 'LABELS.CONFIRMPASSWORD' | translate }}" required ng-pattern='/^(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/'>
                        <div ng-messages="userForm.confirmPassword.$error" ng-if="userForm.confirmPassword.$touched || submitted" class="wk-field-error" role="alert">
                            <div ng-message="minlength">{{ 'ERRORS.PASSWORD_VAL_MSG' | translate }}</div>
                            <div ng-message="maxlength">{{ 'ERRORS.PASSWORD_VAL_MSG' | translate }}</div>
                            <div ng-message="required">{{ 'ERRORS.REQUIRED_ERROR' | translate }}</div>
                            <div ng-message="resetFailed">{{ 'ERRORS.RESET_FAILED' | translate }}</div>
                            <div ng-show="vm.user.password != vm.user.confirmPassword">{{ 'ERRORS.PASSWORD_NOT_MATCH' | translate }}</div>

                        </div>
                    </div>
                </div>
            </div>

            <button class="wk-button wk-button-primary" type="submit" ng-click="submitted = true" >
                {{ 'SAVE' | translate }}
            </button>
        </form>

        <form class="wk-login-form" ng-show="vm.sendSuccess == 1">
            <div class="alert alert-danger" role="alert">
                <p class="invalide-error">{{ 'ALERTS.INVALID_RESETLINK' | translate }}</p>
            </div>
            <h2 class="pb20"><span class="wk-icon-log-in admin-login-icon" title=".wk-icon-log-in"></span>{{ 'LABELS.RESET_PASSWORD' | translate }}</h2>

            <a ng-href="forgotpassword" class="forgot-link">{{'LABELS.FORGOT_PASSWORD'| translate}}</a>
        </form>
        <form class="wk-login-form" ng-show="vm.sendSuccess == 2">
            <div class="alert alert-success" role="alert">
                <p class="invalide-error">{{ 'ALERTS.SUCCESS_RESETLINK' | translate }}</p>
            </div>
            <h2 class="pb20"><span class="wk-icon-log-in admin-login-icon" title=".wk-icon-log-in"></span>{{ 'LABELS.RESET_PASSWORD' | translate }}</h2>

            <a ng-href="login" class="forgot-link">{{'LABELS.LOGIN'| translate}}</a>
        </form>
    </div>
</div>  
