<!-- Page content starts -->
<div class="wk-page-content">
    <h1 class="pb20" translate="{{vm.pageTitle}}"></h1>
    <!-- Page loader spin starts-->
    <span class="wk-icon-spin wk-spin wk-spin-center" ng-show="vm.showLoader"></span>
    <!-- Page loader spin ends-->
    <!-- Data not found error starts-->
    <div ng-if="(!vm.showLoader && vm.pageError)" class="wk-layout-centered-medium wk-register-bg mt50">
        <div class="wk-row text-center">
            <h1 class="data-not-available"><span class="wk-icon-alert-triangle"></span>{{ 'ERRORS.DATA_NOT_AVAILABLE' | translate }}</h1>
            <h3 class="data-not-available"><a ui-sref="items.list" role="button"><span class="wk-icon-arrow-back"></span>{{ 'BACK' | translate }}</a></h3>
        </div>
    </div>
    <!-- Data not found error ends-->
    <div ng-show="(!vm.showLoader && !vm.pageError)">
        <div class="wk-row mb20" ng-include="vm.itemtypeTemplate">
        </div>
        <div class="wk-row ">
            <div class="wk-layout-50-50 gray-bg mb20 ">
                <div class="wk-button-bar ">
                    <div class="wk-button-group-right" ng-transclude>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content ends -->
<!-- Preview for CHOICE_MULTIPLE/MULTIPLE_CHOICE/TRUE_FALSE/IMAGE/VIDEO type questions  starts -->
<script type="text/ng-template" id="multiple-choice-preview">
    <div class="wk-col-4 video-preview" ng-if="vm.itemDetails.labelText=='IMAGE_INTEGRATION' || vm.itemDetails.labelText=='VIDEO_QUESTIONS' || vm.itemDetails.labelText=='GRAPHIC_OPTION'">
        <image width="500px " src="{{vm.itemAssetPath}} " alt=" " ng-if="vm.itemDetails.labelText=='IMAGE_INTEGRATION' && vm.assetTypeId==1"></image>
        <video name="previewVideo " id="previewVideo " width="100%" ng-if=" vm.itemDetails.labelText=='VIDEO_QUESTIONS' && vm.assetTypeId==3 " src="{{vm.itemAssetPath}} " controls>
        </video>
    </div>
    <div class="wk-col-8" ng-class="{'wk-col-8':(vm.itemDetails.assets != undefined && vm.itemDetails.assets.length !=0),'wk-col-12':vm.itemDetails.assets == undefined || vm.itemDetails.assets.length ==0}">
        <div class="wk-layout-item wk-card ">
            <div class="wk-field-item normal-font mb0 ">
                <div class="wk-field-header ">
                    <h4 class="wk-module-heading mb20 normal-font ">{{vm.itemDetails.promptText}}</h4></div>
                <div ng-repeat="choiceDetails in vm.itemDetails.choiceInteraction.simpleChoices ">
                    <div ng-class="{ 'wk-check-field':vm.itemDetails.labelText=='CHOICE_MULTIPLE' , 'wk-radio-field':vm.itemDetails.labelText !='CHOICE_MULTIPLE' } ">
                        <label>
                            <input ng-if="vm.itemDetails.labelText !='CHOICE_MULTIPLE' " name="correctAnswerPreview " type="radio">
                            <input ng-if="vm.itemDetails.labelText=='CHOICE_MULTIPLE' " type="checkbox" name="checkboxPreview{{$index}} ">
                            <span> </span><span>{{choiceDetails.label}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="wk-layout-item mb20 mt20 ">
            <div class="wk-field-item ">
                <p><strong>{{ 'LABELS.CORRECT_RESPONSE' | translate }}:</strong>{{vm.itemDetails.correctAnswer}} </p>
                <p><strong>{{ 'LABELS.CORRECT_RATIONALE' | translate }}: </strong>{{vm.itemDetails.modelFeedback[0].feedbackText}}</p>
                <p><strong>{{ 'LABELS.REMEDIATION' | translate }}: </strong></p>
                <div ng-repeat="remedies in vm.itemDetails.remediationLinks">
                    <a target="_blank" ng-if="remedies.linkTypeId==1" uib-tooltip="{{remedies.linkText3}}" href="{{remedies.linkText2}} ">{{remedies.linkText1}}</a>
                    <span ng-if="remedies.linkTypeId==3">{{remedies.linkText1}}</span>
                    <br>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- Preview for CHOICE_MULTIPLE/MULTIPLE_CHOICE/TRUE_FALSE/IMAGE/VIDEO type questions ends -->
<!-- Preview for graphic type questions starts -->
<script type="text/ng-template" id="graphic-option-preview">
    <div id="divarea1" class="box">
        <div class="wk-row b20">
            <h4 class="wk-module-heading mb20 normal-font ">      {{vm.itemDetails.promptText}}
                          </h4>
        </div>
        <div class="wk-table-permit-overflow">
            <table class="wk-table question-type-video">
                <tbody>
                    <tr ng-repeat="choiceDetails in vm.itemDetails.choiceInteraction.simpleChoices ">
                        <td width="5%" align="center" valign="middle">
                            <div ng-class="wk-radio-field">
                                <input name="correctAnswerPreview " type="radio" />
                            </div>
                        </td>
                        <td width="95%">
                            <div>
                                <image width="300px " src="{{choiceDetails.value.assetPath+'/'+choiceDetails.value.assetName}}" ng-if="choiceDetails.value.assetTypeId==1"></image>
                                <video name="previewVideo" id="previewVideo " width="300px" ng-if="choiceDetails.value.assetTypeId==3" src="{{choiceDetails.value.assetPath+'/'+choiceDetails.value.assetName}}" controls>
                                </video>
                                <audio style="width:300px;" ng-if="choiceDetails.value.assetTypeId==2" name="previewAudio" id="previewAudio" src="{{choiceDetails.value.assetPath+'/'+choiceDetails.value.assetName}}" controls>
                                </audio>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="wk-row mb20">
        <div class="wk-col-4">
            <div class="mb20 mt20 ">
                <div class="wk-field-item ">
                    <p><strong>{{ 'LABELS.CORRECT_RESPONSE' | translate }}:</strong></p>
                    <div>
                        <image width="300px " src="{{vm.itemDetails.correctAnswer.assetPath+'/'+vm.itemDetails.correctAnswer.assetName}}" ng-if="vm.itemDetails.correctAnswer.assetTypeId==1"></image>
                        <video name="previewVideo" id="previewVideo " width="300px" ng-if="vm.itemDetails.correctAnswer.assetTypeId==3" src="{{vm.itemDetails.correctAnswer.assetPath+'/'+vm.itemDetails.correctAnswer.assetName}}" controls>
                        </video>
                        <audio width="300px" ng-if="vm.itemDetails.correctAnswer.assetTypeId==2" name="previewAudio" id="previewAudio" src="{{vm.itemDetails.correctAnswer.assetPath+'/'+vm.itemDetails.correctAnswer.assetName}}" controls>
                        </audio>
                    </div>
                    <p><strong>{{ 'LABELS.CORRECT_RATIONALE' | translate }}: </strong>{{vm.itemDetails.modelFeedback[0].feedbackText}}</p>
                    <p><strong>{{ 'LABELS.REMEDIATION' | translate }}: </strong></p>
                    <div ng-repeat="remedies in vm.itemDetails.remediationLinks">
                        <a target="_blank" ng-if="remedies.linkTypeId==1" uib-tooltip="{{remedies.linkText3}}" href="{{remedies.linkText2}} ">{{remedies.linkText1}}</a>
                        <span ng-if="remedies.linkTypeId==3">{{remedies.linkText1}}</span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="wk-col-8"></div>
    </div>
</script>
<!-- Preview for graphic type questions ends -->
<!-- Preview for medical type questions starts -->
<script type="text/ng-template" id="medical-question-preview">
    <div class="wk-row">
        <div class="wk-col-4 video-preview" ng-if="vm.itemDetails.assets != undefined && vm.itemDetails.assets.length !=0">
            <image width="500px " src="{{vm.itemAssetPath}} " ng-if="vm.assetTypeId==1"></image>
            <video name="previewVideo " id="previewVideo " width="100%" ng-if="vm.assetTypeId==3 " src="{{vm.itemAssetPath}} " controls>
            </video>
        </div>
        <div class="wk-col-8" ng-class="{'wk-col-8':(vm.itemDetails.assets != undefined && vm.itemDetails.assets.length !=0),'wk-col-12':vm.itemDetails.assets == undefined || vm.itemDetails.assets.length ==0}">
            <div class="wk-field-header ">
                <label>
                    {{ 'LABELS.MEDICAL_SCENARIO' | translate }}</label>
            </div>
            <div class="wk-layout-item wk-card ">
                <div class="wk-field-item normal-font mb0 ">
                    <div class="wk-field-header ">
                        <h4 class="wk-module-heading mb20 normal-font ">{{vm.itemDetails.promptText}}</h4></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wk-row mt20" ng-if="!(vm.itemChildDetails | isEmptyObject)">
        <div class="wk-layout-item wk-card " >
            <div class="wk-field-item normal-font mb0">
                <div class="wk-field-header ">
                    <h4 class="wk-module-heading mb20 normal-font ">
                        <span class="wk-badge">{{vm.currentChild+1}}</span> {{vm.itemChildDetails.promptText}}</h4></div>
                <div ng-repeat="choiceDetails in vm.itemChildDetails.choiceInteraction.simpleChoices ">
                    <div ng-class="{ 'wk-check-field':vm.itemChildDetails.labelText=='CHOICE_MULTIPLE' , 'wk-radio-field':vm.itemChildDetails.labelText !='CHOICE_MULTIPLE' } ">
                        <label>
                            <input ng-if="vm.itemChildDetails.labelText !='CHOICE_MULTIPLE' " name="correctAnswerPreview " type="radio">
                            <input ng-if="vm.itemChildDetails.labelText=='CHOICE_MULTIPLE' " type="checkbox" name="checkboxPreview{{$index}} ">
                            <span> </span><span>{{choiceDetails.label}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="wk-row">
            <div class="wk-col-5 mt20 ">
                <div class="wk-field-item ">
                    <p><strong>{{ 'LABELS.CORRECT_RESPONSE' | translate }}:</strong>{{vm.itemDetails.correctAnswer}} </p>
                    <p><strong>{{ 'LABELS.CORRECT_RATIONALE' | translate }}: </strong>{{vm.itemChildDetails.modelFeedback[0].feedbackText}}</p>
                    <p><strong>{{ 'LABELS.REMEDIATION' | translate }}: </strong></p>
                    <div ng-repeat="remedies in vm.itemChildDetails.remediationLinks">
                        <a target="_blank" ng-if="remedies.linkTypeId==1" uib-tooltip="{{remedies.linkText3}}" href="{{remedies.linkText2}} ">{{remedies.linkText1}}</a>
                        <span ng-if="remedies.linkTypeId==3">{{remedies.linkText1}}</span>
                        <br>
                    </div>
                </div>
            </div>
            <div class="wk-col-5 text-right mt20">
                <div class="wk-button-group-right">
                    <button type="button" ng-click="vm.getChildDetail(vm.currentChild-1)" class="wk-button wk-button-primary" translate="PREV" ng-if="vm.currentChild > 0"></button>
                    <button type="button" ng-click="vm.getChildDetail(vm.currentChild+1)" class="wk-button wk-button-primary" translate="NEXT" ng-if="vm.currentChild < vm.itemChildList.length-1"></button>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- Preview for medical type questions ends -->
<!-- Preview for clinical type questions starts -->
<script type="text/ng-template" id="clinical-question-preview">
    <div class="wk-row mb20" ng-if="!(vm.itemChildDetails | isEmptyObject)">
        <div class="wk-layout-item wk-card ">
            <div class="wk-field-item normal-font mb0 ">
                <div ng-repeat="choiceDetails in vm.itemChildDetails.choiceInteraction.simpleChoices ">
                    <div ng-class="{ 'wk-check-field':vm.itemChildDetails.labelText=='CHOICE_MULTIPLE' , 'wk-radio-field':vm.itemChildDetails.labelText !='CHOICE_MULTIPLE' } ">
                        <label>
                            <input ng-if="vm.itemChildDetails.labelText !='CHOICE_MULTIPLE' " name="correctAnswerPreview " type="radio">
                            <input ng-if="vm.itemChildDetails.labelText=='CHOICE_MULTIPLE' " type="checkbox" name="checkboxPreview{{$index}} ">
                            <span> </span><span>{{choiceDetails.label}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="wk-field-item">
                <div class="wk-field-header custom-field-header">
                    <h4 class="wk-module-heading mb20 normal-font ">
                <span class="wk-badge">{{vm.currentChild+1}}</span>
{{vm.itemChildDetails.promptText}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="wk-row mb20">
        <div class="wk-col-4 video-preview" ng-if="vm.itemDetails.assets != undefined && vm.itemDetails.assets.length !=0">
            <image width="500px " src="{{vm.itemAssetPath}} " ng-if="vm.assetTypeId==1"></image>
            <video name="previewVideo " id="previewVideo " width="100%" ng-if="vm.assetTypeId==3 " src="{{vm.itemAssetPath}} " controls>
            </video>
        </div>
        <div class="wk-col-8" ng-class="{'wk-col-8':(vm.itemDetails.assets != undefined && vm.itemDetails.assets.length !=0),'wk-col-12':vm.itemDetails.assets == undefined || vm.itemDetails.assets.length ==0}">
            <div class="wk-field-header ">
                <label>
                    {{ 'LABELS.CLINICAL_PRESENTING_SYMPTOMS' | translate }}</label>
            </div>
            <div class="wk-layout-item wk-card ">
                <div class="wk-field-item normal-font mb0 ">
                    <div class="wk-field-header ">
                        <h4 class="wk-module-heading mb20 normal-font ">{{vm.itemDetails.promptText}}</h4></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wk-layout-item mb20 mt20 " ng-if="!(vm.itemChildDetails | isEmptyObject)">
        <div class="wk-field-item ">
            <p><strong>{{ 'LABELS.CORRECT_RESPONSE' | translate }}:</strong>{{vm.itemDetails.correctAnswer}} </p>
            <p><strong>{{ 'LABELS.CORRECT_RATIONALE' | translate }}: </strong>{{vm.itemChildDetails.modelFeedback[0].feedbackText}}</p>
            <p><strong>{{ 'LABELS.REMEDIATION' | translate }}: </strong></p>
            <div ng-repeat="remedies in vm.itemChildDetails.remediationLinks">
                <a target="_blank" ng-if="remedies.linkTypeId==1" uib-tooltip="{{remedies.linkText3}}" href="{{remedies.linkText2}} ">{{remedies.linkText1}}</a>
                <span ng-if="remedies.linkTypeId==3">{{remedies.linkText1}}</span>
                <br>
            </div>
        </div>
    </div>
</script>
<!-- Preview for clinical type questions ends -->
